/* algemeen */
body {
    background-color: #191919;
    background-image: url(../images/technoachtergrondai1.png);
    /* background-image: url(https://c4.wallpaperflare.com/wallpaper/669/388/957/line-background-dark-curves-wallpaper-preview.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
    font-family: 'futura', sans-serif;
    color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main h1 {
    color: rgb(134, 134, 255);
}

h2 {
    color: rgb(91, 91, 255);
}

h3 {
    color: rgb(106, 106, 250);
}

footer {
    color: grey;
}

header h1 {
    color: rgb(16, 16, 148);
    background-color: #000000;
    display: flex;
    justify-content: center;
    border: 0.1em solid white;
    padding: 0.2em;
}

.midden {
    text-align: center;
    font-size: 1.5em;
    color: red;
}

/* flexbox met head+navbalk */
body header {
    display: flex;
}


/* home */
body main image {
   display: flex;
   justify-content: center;
}

img {
    display: block;
    max-width: 80%; 
    margin-right: auto;
    margin-left: auto;
}



/* nav balk */
nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding: 1em;
    font-size: 1em;
}



/* dj's en bangers */
body main article ul li {
    color: red;
}

body main article div {
    display: flex;
    margin-bottom: 2em;
}



/* over techno */
body main {
    display: flex;
    flex-direction: column;
}

body main section {
    display: flex;
}

/* body main section img {
    flex-basis: 40%;
} */



/* raves */




/* footer */
footer {
    margin-top: auto;
  }

footer a {
    text-decoration: none;
    color: grey;
}



